# gradle files
.gradle/**

# Ignore local Gradle caches, but DO commit the wrapper.
gradle/**
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

!gradlew
!gradlew.bat

# idea files
docs/.idea/**
.idea/**

#build files
build/**
core/build/**
ftc/build/**

# compiled outputs
core/bin/**

logs/**
core/logs/**
!core/logs/testLog.rlog

local.properties
